.container {
	display: flex;
	flex-direction: column;
}

.header {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #4b5d6d;
	margin: 16px 0px 16px 0px;
}

.subheader {
	margin: 8px;
}


.legend {
	margin-top: 24px;
}